/* SCROLL BEHAVIOR: smooth */
.about {
display: flex;
width: 100%;
min-height: 100vh;
align-items: center;
position: relative;
}



.about h1 {
    position: absolute;
    font-weight: 600;
    font-size: 70px;
    top: 50px;
    color: #486e80;
}


